<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" matInput placeholder="Your email" ngModel name="email" email required
                #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('requierd')">Email is invalid</mat-error>
            <mat-error *ngIf="!emailInput.hasError('requierd')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at leat 6 characters long">
            <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
                #pwInput="ngModel">
            <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your Birthdate" type="text" [matDatepicker]="picker" [max]="maxDate" ngModel
                name="birtdate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox ngModel name="agree" color="warn">Agree to Terms and Conditions</mat-checkbox>

        <button type="submit" mat-raised-button [disabled]="f.invalid">Submit</button>
    </form>
</section>